.section {
  padding: 20%;
  text-align: right-align;
  margin-left: auto;
  margin-right: auto;
  width: 25em;
  top: 50%;
  left: 50%;
}

.image {
  height: 25em;
  width: 25em;
}

#aboutMe {
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 15px;
  margin-right: 10px;
  padding-left: 5px;
}

#caseStudies {
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 5px;
}

#resume {
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 5px;
}

.right {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

h1 {
 font-family: red rose;
  text-align: center;
}


button {
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-top: 30px;
  padding: 10px;
}

h2 {
  font-family: reem kufi;
  text-align: center;
}


p {
  font-family: reem kufi;
}



IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }



.subheading {
  text-align: center;
  width: 300px;
  margin: 5px auto;
  padding: 25px;
}

#categoryGrid {
  text-align: center;
  margin: 0px 5%;
  display: grid;
  grid-template-rows: 15em 30px 400px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
    "image1 image2 image3"
    "header1 header2 header3"
    "summary1 summary2 summary3"
    ;
}

#summary1 {
  grid-area: summary1;
}

#summary2 {
  grid-area: summary2;
}

#summary3 {
  grid-area: summary3;
}

#header1 {
  grid-area: header1;
}

#header2 {
  grid-area: header2;
}

#header3 {
  grid-area: header3;
}

.heading {
  padding:30px;
}

.image1 {
  grid-area: image1;
  height: 15em;
  width: 15em;
}

.image2 {
  grid-area: image2;
  height: 15em;
  width: 15em;
}

.image3 {
  grid-area: image3;
  height: 15em;
  width: 15em;
}

.summary {
  text-align: left;
  padding: 15%;
 
}
.categoryGridArea {
  background-positon: center;
}

footer {
  justify-content: space-between;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.footer {
  display:flex;
  justify-content:row;
  text-align:center;
}

.footer1 {
  padding:10px;
  margin-left: 10px;
  margin-right: 10px;
}

.footer2 {
  padding:10px;
  margin-right: 10px;
}

@media only screen and (max-width: 600px) {
  #categoryGrid {
    grid-template-rows: 15em 30px 400px 15em 30px 400px 15em 30px 400px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "image1"
      "header1"
      "summary1"
      "image2"
      "header2"
      "summary2"
      "image3"
      "header3"
      "summary3"
      ;
  }
}